@model List<DTOLayer.AnnouncementDTOs.AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Listesi</h1>

<table class="table table-bordered table-striped table-hover"> 
    <thead>
        <tr>
            <td>#</td>
            <td>Başlık</td>
            <td>İçerik</td>
            <td>Detaylar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AnnouncementID</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td><a href="#" class="btn btn-secondary">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="p-2">
    <a href="/Admin/Announcement/AddAnnouncement"  class="btn btn-success fe-bold text-white">Duyuu Oluştur</a>
</div>


