
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excell Raporları Sayfası</h1>
<div class="d-inline">
    <a href="/Excel/StaticExcelReport" class=" btn btn-info">StaticExcelReport</a>
    <a href="/Excel/DestinationExcelReport" class="btn btn-info ms-3">Tur Rotaları Excel Raporlaro</a>
</div>

