
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traversal | 404</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/404/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Hata <span class="errorcode">404</span></h1>
        <p class="output">Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
        <p class="output">Şunu deneyin <a href="/Default/Index">Ana Sayfaya Geri Dön</a> .</p>
        <p class="output">İyi Şanslar.</p>
    </div>
    <!-- partial -->

</body>
</html>
